/* src/css/HomePage.css */
/* src/css/HomePage.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 160px;


}

  
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
  }
  
  .section:hover {
    background-color: #800000; /* Maroon color */
    color: white;
    transform: scale(1.05);
  }
  
  .section:hover .icon {
    color: white; /* White color for icon on hover */
  }

  .section:hover .heading {
    color: white; /* White color for heading on hover */
  }
  
  .section:hover .description {
    color: white; /* White color for heading on hover */
  }
  .icon {
    font-size: 40px;
    color: #800000; /* Maroon color */
    margin-bottom: 10px;
  }
  .hover-icon{
    font-size: 40px;
    color:white;
    margin-bottom: 10px;
  }
  .heading {
    margin-bottom: 15px;
    font-size: 24px;
    color: #800000; /* Maroon color */
  }
  
  .description {
    color: #555;
    font-size: 16px;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }


